#the path - relative to the directory containing bundle.config - that has the application source code
APP_ROOT: ./app_root
#the path - relative to the directory containing bundle.config - that the output 'built_client/assets' will be built to
OUTPUT_DIR: .
PLUGINS:
	io.spaceport.plugins.chartboost 3.3.0
	io.spaceport.plugins.mail 3.3.0
	io.spaceport.plugins.facebook 3.3.0
	io.spaceport.plugins.flurry 3.3.0


FILES:
#paths are releative to the APP_ROOT directory:
	human_male.png?game=1.2&male=1&roler=1&ver=1
	human_male.png
	human_female.png
	-badfolder
	goodfolder/**/*js
	-goodfolder/badsubfolder/*js