# The HTML file
daisy.html			svn

# All the music
mp3s/**/*.mp3			svn
wavs/**/*.wav			svn

# All the javascript files in the client directory (no Spaceport.swf needed for iPhone / Android)
client/**/*.js			svn

# Use "-" to specify things that you want to EXCLUDE from bundling
-client/**/*.swf

# This un-necessary and obvious duplicate is here to test / prove that you don't have
# to worry about duplicates in your full_file_list or manifest.xml file
client/spaceport.js 		svn

# And last but not least all the SGF files
swfs/**/*.sgf			svn
